<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>exhibitionAdminLog</servlet-name>
        <servlet-class>global.exhibitionAdminLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginCheck</servlet-name>
        <servlet-class>global.AdminLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>global.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExhibitionAdminPersonal</servlet-name>
        <servlet-class>global.ExhibitionAdminPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveOTPSession</servlet-name>
        <servlet-class>global.ReceiveOTPSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogCheck</servlet-name>
        <servlet-class>global.AdminLogCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exhibitionAdminLog</servlet-name>
        <url-pattern>/exhibitionAdminLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginCheck</servlet-name>
        <url-pattern>/AdminLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExhibitionAdminPersonal</servlet-name>
        <url-pattern>/ExhibitionAdminPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveOTPSession</servlet-name>
        <url-pattern>/ReceiveOTPSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogCheck</servlet-name>
        <url-pattern>/AdminLogCheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
