<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OwnerRegistration</servlet-name>
        <servlet-class>Global.OwnerRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerReg</servlet-name>
        <servlet-class>Global.OwnerReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ckvDemoServlet</servlet-name>
        <servlet-class>Global.ckvDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ckvInsert</servlet-name>
        <servlet-class>Global.ckvInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginCheck</servlet-name>
        <servlet-class>Global.AdminLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ckvLoginCheck</servlet-name>
        <servlet-class>Global.ckvLoginCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OwnerRegistration</servlet-name>
        <url-pattern>/OwnerRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerReg</servlet-name>
        <url-pattern>/OwnerReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ckvDemoServlet</servlet-name>
        <url-pattern>/ckvDemoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ckvInsert</servlet-name>
        <url-pattern>/ckvInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginCheck</servlet-name>
        <url-pattern>/AdminLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ckvLoginCheck</servlet-name>
        <url-pattern>/ckvLoginCheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
